
/* section about */
#about{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    background-color: $lightcolor;
}
section#about > h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    padding-bottom: 6rem 0 5rem 0 ;
    color:$darkcolor ;
    margin-top: 2em;
    
}
div.about.cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 2em 4em;

    @media (max-width:800px) {
        flex-direction: column;
        align-items: center;
        margin: 2em 0;
    }
    
}
div.pic > img {
    display: flex;
    flex-direction: column;
    width:30vw;
    height: auto;
    margin-right: 3em;
    border-radius: 118em;
    -webkit-border-radius: 318em;
    -moz-border-radius: 318em;
    -ms-border-radius: 318em;
    -o-border-radius: 3118em;
    @media(max-width:768px)    
{
        width:60vw;
        margin: 1em 0 3em 0;
        
    }

}

div.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1;
    margin: 0 2em;
}

.button{
    width: 30%;
    margin: 1em 0;
    background-color: $darkcolor;
    color: $lightcolor;
    border: none;
    border-radius: 3em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 0.4em;
    cursor: pointer;
    outline: none;
    @media(max-width:800px)     
{
        align-self: center;
    }
    
    @media (max-width:395px) {
        width: 50%;
    }
}