//footer 

footer {
  background-color: $darkcolor;
  display: flex;
  justify-content: space-between;
  

  p {
      flex: 1;
      color: $lightcolor;
      margin-top: 1em;
      margin-left: 2em;
  }

  a {
      flex:1;
      color: $lightcolor;
      text-decoration:none;
      display: flex;
      justify-content: flex-end;
      align-self: center;
      margin-right: 2em;

      a:hover{
          text-decoration: underline;
      }
  }

  i {
      padding-right: 1em;
  }


}
