

/* Main section */

main {
    display: flex;
    flex-direction: column; 
}


section#home{
    display: flex;
    flex-direction: column;
    background-color: grey;
    background-image: url("/dist/img/apple2.png");

    width: 100%;
    height: 40em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


    @media (max-width:711px) {
        width: 96.5vw;
        height: 25em;
    }

    @media (max-width:578px) {
        background-image: url("/dist/img/apple4.png");        
    }

    @media (max-width:380px) {
        height: 22em;
    }
}

#home h1{
    font-weight: lighter;
    color: $darkcolor;
    
    font-size: 2em;
    padding: 7rem 13rem ;

    @media (max-width:1271px) {
        padding: 5rem 3rem;
    }

    @media (max-width:1007px) {
        padding: 7rem 5rem;
        font-size: 1.5em;
    }

    @media (max-width:821px) {
        padding: 7rem 2rem;
        font-size: 1.5em;
    }

    @media (max-width:711px) {
        padding: 7rem 3rem;
        font-size: 1.2em;
    }


    @media (max-width:578px) {
        padding-top: 1.5em;
        margin: 0;
        font-size: 2em;
        // text-align: center;
        text-shadow: 2px 2px $lightcolor;
        color: rgba(0, 0, 0, 0.802);
    }


}

/* Second section */

section.paragraph {
    display: flex;
    background-color: #1d1c1f;
    color: $lightcolor;
    height: 7em;
    justify-content: center;
    padding: 15% 15%;
    align-items: center;
    
    @media (max-width: 500px) {
        padding: 47% 15%;
    }
}