/* Header, nav bar */


nav {
  display: flex;
  justify-content: space-between;


  
& .nav-link {
  
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;  
}
// @media(max-width:575px){
//   background-color: $darkcolor;
// }
}

