
/* third section - skills */

section#skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $lightcolor;
    height: 18em;
    justify-content: space-around; 
    padding-left: 5%;
    padding-right:5%;
    position: relative;

}

h2.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    align-self: baseline;
    padding-top: 1em;
    
}

#skills img{
    max-width: 51px;
    min-width: 51px;
    // animation-duration: 2s;
    // animation-name: slidein;
    // animation-direction: normal;
}

